<div class="container">
    <center> <img src="~/images/FaleConosco.jpg" alt="Fale conosco" /></center>
    <div class="jumbotron">

        <h3>
            Se você tiver alguma dúvida ou sugestão fale conosco!
        </h3>
        <p>
            <span>
                <img src="~/images/mail (1).png" />
            </span>
            <h5><email endereco="Flavioonildo@outlook.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <h5><img src="~/images/telephone-call.png" />(69) 99100-0000  </h5>
            </span>

            <br />

            <h5> <img src="~/images/address.png" /> Av. Rio de janeiro 1000 - 00456-875 - Porto Velho - Rondônia </h5>
        </p>

        <span>
            <img src="~/images/Mapa_resized.png" />
        </span>
    </div>
</div>

